<!-- New Profile Section -->
<section>
  <!-- <div class="container"> -->
    <div class="row" style="margin-left: 1rem; margin-right: 1rem;">
      <div class="col-md-4">
        <section class="card card-cascade card-avatar mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" alt="">

          <!--Card content-->
          <div class="card-body">
              <!--Title-->
              <h4 class="card-title"><strong>John Doe</strong></h4>
              <h5>Web designer at <a href="">MDBootstrap</a></h5>
              <p class="dark-grey-text">Johannesburg, South Africa</p>

              <!-- Social -->
              <a type="button" target="_blank" href="https://www.facebook.com/kyle.fuhri" class="btn-floating btn-small transparent waves-effect waves-light"><i class="fa fa-facebook dark-grey-text"></i></a>
              <a type="button" target="_blank" href="https://github.com/Work90210" class="btn-floating btn-small transparent waves-effect waves-light"><i class="fa fa-github dark-grey-text"></i></a>
              <a type="button" target="_blank" href="https://linkedin.com/in/kyle-fuhri" class="btn-floating btn-small transparent waves-effect waves-light"><i class="fa fa-linkedin dark-grey-text"></i></a>

              <!--Text-->
              <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
          </div>

        </section>
      </div>
      <div class="col-md-8">
        <div style="margin-top: 3.45rem;">
          <ul class="nav nav-tabs md-tabs" id="myTabMD" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab-md" data-toggle="tab" href="#web-md" role="tab" aria-controls="home-md"
                aria-selected="true">Web-Development</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab-md" data-toggle="tab" href="#wordpress-md" role="tab" aria-controls="profile-md"
                aria-selected="false">WordPress</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab-md" data-toggle="tab" href="#flutter-md" role="tab" aria-controls="contact-md"
                aria-selected="false">Flutter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab-md" data-toggle="tab" href="#design-md" role="tab" aria-controls="contact-md"
                aria-selected="false">Design</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab-md" data-toggle="tab" href="#overall-md" role="tab" aria-controls="contact-md"
                aria-selected="false">Overall</a>
            </li>
          </ul>
          <div class="tab-content card pt-5" id="myTabContentMD">
            <div class="tab-pane fade show active" id="web-md" role="tabpanel" aria-labelledby="home-tab-md" style="height: 19.5rem;">
              <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry
                richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                apparel, butcher voluptate nisi qui.</p>
            </div>
            <div class="tab-pane fade" id="wordpress-md" role="tabpanel" aria-labelledby="profile-tab-md" style="height: 19.6rem;">
              <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip
                jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna
                delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan
                fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry
                richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus
                tattooed echo park.</p>
            </div>
            <div class="tab-pane fade" id="flutter-md" role="tabpanel" aria-labelledby="contact-tab-md" style="height: 19.6rem;">
              <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo
                retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer,
                iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
                Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles
                pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of
                them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
            </div>
            <div class="tab-pane fade" id="design-md" role="tabpanel" aria-labelledby="contact-tab-md" style="height: 19.6rem;">
              <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo
                retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer,
                iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
                Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles
                pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of
                them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
            </div>
            <div class="tab-pane fade" id="overall-md" role="tabpanel" aria-labelledby="contact-tab-md" style="height: 19.6rem;">
              <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo
                retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer,
                iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
                Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles
                pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of
                them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
            </div>
          </div>
        </div> <!-- Tabs -->

      </div>
    </div>
  <!-- </div> -->

</section>

<!-- Main Card -->
<div style="padding-left: 2rem; padding-right: 2rem; padding-top: 1rem;">
  <div class="card testimonial-card" style="max-width: 100rem;">

    <!--Bacground color-->
    <div class="card-up aqua-gradient" style="height: 15rem;">
    </div>

    <!--Avatar-->
    <div class="avatar"><img src="https://mdbootstrap.com/img/Others/documentation/img%20(27)-mini.jpg" class="rounded-circle img-responsive">
    </div>

    <!-- Info -->
    <div class="card-body" style="height: 24rem;">
        <!--Name-->
        <h3 class="card-title dark-grey-text"><strong>Kyle Fuhri</strong></h3>
        <hr>
        <!--Quotation-->
        <p class="card-text pt-2" style="margin-top: 2rem; margin-bottom: 2rem;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci Sed ut perspiciatis
            unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam. Facere modi sunt, quod quibusdam dignissimos neque rem nihil.</p>
            <hr>
            <!-- Bottom Row -->
            <div class="container" style="margin-top: 0.5rem;">
              <div class="row">
                <!-- Social Media Icons & Links -->
                <div class="col-sm">
                  <!-- Facebook -->
                  <a type="button" target="_blank" class="btn-floating btn-medium btn-fb waves-effect waves-light" href="https://www.facebook.com/kyle.fuhri"><i class="fa fa-facebook"></i></a>
                  <!--Github-->
                  <a type="button" target="_blank" class="btn-floating btn-medium btn-git waves-effect waves-light" href="https://github.com/Work90210"><i class="fa fa-github"></i></a>
                  <!--LinkedIn-->
                  <a type="button" target="_blank" class="btn-floating btn-medium btn-fb waves-effect waves-light" href="https://linkedin.com/in/kyle-fuhri"><i class="fa fa-linkedin"></i></a>
                </div>
                <!-- Skill Icons -->
                <div class="col-sm">
                  <p>
                    <a target="_blank" style="margin-left: 0.3rem;" rel="noopener noreferrer" href="https://github.com/Work90210" ><img src="https://camo.githubusercontent.com/cf1a0ef083a2372d7f66b4691d5d25bfd8c098f42871e8da90edb1f32ed187c4/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d4a6176615363726970742d626c61636b3f7374796c653d666c61742d737175617265266c6f676f3d6a617661736372697074" alt="JavaScript" data-canonical-src="https://img.shields.io/badge/-JavaScript-black?style=flat-square&amp;logo=javascript" style="max-width:100%;"></a>
                    <a target="_blank" style="margin-left: 0.3rem;" rel="noopener noreferrer" href="https://github.com/Work90210" ><img src="https://camo.githubusercontent.com/cec92673ea713fa89ba2ae2033daf5851f6f39393ff5b93231aa707d424638d9/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d4e6f64656a732d626c61636b3f7374796c653d666c61742d737175617265266c6f676f3d4e6f64652e6a73" alt="Nodejs" data-canonical-src="https://img.shields.io/badge/-Nodejs-black?style=flat-square&amp;logo=Node.js" style="max-width:100%;"></a>
                    <a target="_blank" style="margin-left: 0.3rem;" rel="noopener noreferrer" href="https://github.com/Work90210" ><img src="https://camo.githubusercontent.com/66827c53581cfee18c55618697d74a3c6167932d3c1980fba2019ef7a3e553b0/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d507974686f6e2d626c61636b3f7374796c653d666c61742d737175617265266c6f676f3d507974686f6e" alt="Python" data-canonical-src="https://img.shields.io/badge/-Python-black?style=flat-square&amp;logo=Python" style="max-width:100%;"></a>
                    <a target="_blank" style="margin-left: 0.3rem;" rel="noopener noreferrer" href="https://github.com/Work90210" ><img src="https://camo.githubusercontent.com/137a7a0f28f9e326bcc81a5a0bd853c86435143774c15642d827a5788e778667/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d52656163742d626c61636b3f7374796c653d666c61742d737175617265266c6f676f3d7265616374" alt="React" data-canonical-src="https://img.shields.io/badge/-React-black?style=flat-square&amp;logo=react" style="max-width:100%;"></a>
                    <a target="_blank" style="margin-left: 0.3rem;" rel="noopener noreferrer" href="https://github.com/Work90210" ><img src="https://camo.githubusercontent.com/0c3a16a22ae058cfe38a06dc9ea16404cf006409262f547c9ccfa3ec8b30f71e/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d48544d4c352d4533344632363f7374796c653d666c61742d737175617265266c6f676f3d68746d6c35266c6f676f436f6c6f723d7768697465" alt="HTML5" data-canonical-src="https://img.shields.io/badge/-HTML5-E34F26?style=flat-square&amp;logo=html5&amp;logoColor=white" style="max-width:100%;"></a>
                    <a target="_blank" style="margin-left: 0.3rem;" rel="noopener noreferrer" href="https://github.com/Work90210" ><img src="https://camo.githubusercontent.com/2435c2a64789b8a71c701a1a593b4a6e6869789bfb0626e515dc2a6b6dffa6c5/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d435353332d3135373242363f7374796c653d666c61742d737175617265266c6f676f3d63737333" alt="CSS3" data-canonical-src="https://img.shields.io/badge/-CSS3-1572B6?style=flat-square&amp;logo=css3" style="max-width:100%;"></a>
                    <a target="_blank" style="margin-left: 0.3rem;" rel="noopener noreferrer" href="https://github.com/Work90210" ><img src="https://camo.githubusercontent.com/e56d586bf373ad33a4e8c7101246d54d5edc0fb52b87d309b899ce4818bd6086/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d426f6f7473747261702d3536334437433f7374796c653d666c61742d737175617265266c6f676f3d626f6f747374726170" alt="Bootstrap" data-canonical-src="https://img.shields.io/badge/-Bootstrap-563D7C?style=flat-square&amp;logo=bootstrap" style="max-width:100%;"></a>
                    <a target="_blank" style="margin-left: 0.3rem;" rel="noopener noreferrer" href="https://github.com/Work90210" ><img src="https://camo.githubusercontent.com/8b76dad952a5f01b227f0fc83168009e115d7a0c5f9eca6ea918d6ae4e71b8ff/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d547970655363726970742d3030374143433f7374796c653d666c61742d737175617265266c6f676f3d74797065736372697074" alt="TypeScript" data-canonical-src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&amp;logo=typescript" style="max-width:100%;"></a>
                    <a target="_blank" style="margin-left: 0.3rem;" rel="noopener noreferrer" href="https://github.com/Work90210" ><img src="https://camo.githubusercontent.com/9c789129e7259ef66a90802d64cf38ac9cdf5fd7ea8828b35e7e548c6413bd53/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f476f6f676c65253230436c6f75642d626c61636b3f7374796c653d666c61742d737175617265266c6f676f3d676f6f676c652d636c6f7564" alt="Google Cloud" data-canonical-src="https://img.shields.io/badge/Google%20Cloud-black?style=flat-square&amp;logo=google-cloud" style="max-width:100%;"></a>
                    <a target="_blank" style="margin-left: 0.3rem;" rel="noopener noreferrer" href="https://github.com/Work90210" ><img src="https://camo.githubusercontent.com/edd3031a0956c904634f9a394267a6ba61e9a0bb95c9512a1fbc0725b4014d03/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d4769742d626c61636b3f7374796c653d666c61742d737175617265266c6f676f3d676974" alt="Git" data-canonical-src="https://img.shields.io/badge/-Git-black?style=flat-square&amp;logo=git" style="max-width:100%;"></a>
                    <a target="_blank" style="margin-left: 0.3rem;" rel="noopener noreferrer" href="https://github.com/Work90210" ><img src="https://camo.githubusercontent.com/85dc47a56a4e73ae7b6e64b3b4416785497e74219ae179ae8faaaca10d5a78d9/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d4769744875622d3138313731373f7374796c653d666c61742d737175617265266c6f676f3d676974687562" alt="GitHub" data-canonical-src="https://img.shields.io/badge/-GitHub-181717?style=flat-square&amp;logo=github" style="max-width:100%;"></a>
                    <br>
                    <br></p>
                  </div>
              </div>
            </div>
    </div> <!-- Info -->


  </div>


</div> <!-- Main Card -->


<!-- Tabs -->
<div style="padding: 2rem;">
  <ul class="nav nav-tabs md-tabs" id="myTabMD" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab-md" data-toggle="tab" href="#web-md" role="tab" aria-controls="home-md"
        aria-selected="true">Web-Development</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab-md" data-toggle="tab" href="#wordpress-md" role="tab" aria-controls="profile-md"
        aria-selected="false">WordPress</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab-md" data-toggle="tab" href="#flutter-md" role="tab" aria-controls="contact-md"
        aria-selected="false">Flutter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab-md" data-toggle="tab" href="#design-md" role="tab" aria-controls="contact-md"
        aria-selected="false">Design</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab-md" data-toggle="tab" href="#overall-md" role="tab" aria-controls="contact-md"
        aria-selected="false">Overall</a>
    </li>
  </ul>
  <div class="tab-content card pt-5" id="myTabContentMD">
    <div class="tab-pane fade show active" id="web-md" role="tabpanel" aria-labelledby="home-tab-md">
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
        retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
        Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry
        richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american
        apparel, butcher voluptate nisi qui.</p>
    </div>
    <div class="tab-pane fade" id="wordpress-md" role="tabpanel" aria-labelledby="profile-tab-md">
      <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
        Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
        farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip
        jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna
        delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan
        fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry
        richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus
        tattooed echo park.</p>
    </div>
    <div class="tab-pane fade" id="flutter-md" role="tabpanel" aria-labelledby="contact-tab-md">
      <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo
        retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer,
        iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
        Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles
        pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of
        them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
    </div>
    <div class="tab-pane fade" id="design-md" role="tabpanel" aria-labelledby="contact-tab-md">
      <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo
        retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer,
        iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
        Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles
        pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of
        them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
    </div>
    <div class="tab-pane fade" id="overall-md" role="tabpanel" aria-labelledby="contact-tab-md">
      <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo
        retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer,
        iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
        Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles
        pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of
        them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
    </div>
  </div>
</div> <!-- Tabs -->



